{%extends "account/home.html" %}

{% block auto %}
	<script type="text/javascript">

    function show_modalContainer()
    {
      document.getElementById('modalContainer').style.display = 'block'; 
    }

    window.onload = show_modalContainer;
	</script>
{% endblock %}

{% block modal %}
    <div id="modalContainer">

        <div id="modal4">
            <a href="{% url 'account:home_page' %}" class="close">X</a>
            <span class="modal_heading">
                Reset Password<br>
                {% if error %}
                    <font color="red" size="3">{{ error }}</font>
                {% endif %}
            </span>
            <form method="post" action="">
                {% csrf_token %}
                <input id ="Password" type="password" name="password1" placeholder="Enter Password" required><br>
                <input id ="Password2" type="password" name="password2" placeholder="Re-Enter Password" required><br>
                <input type="submit" class="btnReset" value="Enter" >
            </form>
        </div>
    </div>
{% endblock %}
