<!DOCTYPE html>
    {% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href={% static 'oas/oas.css' %}>
    <title>{{ student.id_number }}</title>
</head>
<body>
<div class="topContainer">
		<div class="cover">
			<span class = "title">OAS</span>
		</div>
	</div>
	<div class="TitleBar">

		<input type="button" class="btnLogOut" value="LOG OUT" onclick="location.href = '{% url 'account:logout_url' %}'">
	</div>
 <div class = "MainContainer">

     <div class="linkContainer">
        <div class="linkBox">
    <h4><a href="{% url 'oas:view_applicants' %}">View applicants</a></h4>

        </div>

        	<div class="linkBox">
    <h4><a href="{% url 'oas:view_loaners' %}">View loaners</a></h4>

            </div>
        	<div class="linkBox">
    <h4><a href="{% url 'oas:all_payments' %}">View payments</a></h4>

            </div>

        	<div class="linkBox">
    <h4><a href="{% url 'oas:view_summary' %}">View term summary</a></h4>

            </div>
        	<div class="linkBoxbottom">
    <h4><a href="{% url 'oas:view_info' %}">Edit term information</a></h4>

            </div>
	</div>
	<div class="schedContainer">
		<div class="box">
			<b> Schedule </b>
		</div>
		<div class="schedContainer2">
                <br>
                Start of Application
				<h4> {{ curr_info.application_start }} </h4>

                End of Application
				<h4> {{ curr_info.application_end }} </h4>

                Release of Results
				<h4> {{ curr_info.release_of_results }} </h4>

                Deadline of Payment
				<h4> {{ curr_info.deadline_of_payment }} </h4>
		</div>
	</div>


<div class="ViewContainer">
		{% if notif %}
            <div class="notif">
                <h1 style="color:red">{{ notif|linebreaks }}</h1>
            </div>
		{% endif %}
    <div class="MidContainer">
    <div style="margin: 0 auto; ">
	<div class="StudentInfoContainer">

		<div class="LabelContainer">
			<h4>ID Number:</h4>
		</div>

		<div class="DataContainer">
            <br>
			<h4>{{ student.id_number }}<br></h4>

		</div>
	</div>
	
	<div class="StudentInfoContainer">
		<div class="LabelContainer">
			<h4>Student Name:</h4>

		</div>

		<div class="DataContainer">
			<h4> {{ student.last_name }}, {{ student.first_name }}<br></h4>

		</div>
	</div>
	
	<div class="StudentInfoContainer">
		<div class="LabelContainer">
			<h4>College:</h4>

		</div>

		<div class="DataContainer">
			<h4> {{ student.college }}<br></h4>

		</div>
	</div>
	
	<div class="StudentInfoContainer">
		<div class="LabelContainer">
			<h4>Year Level:</h4>

		</div>

		<div class="DataContainer">
			<h4>{{ student.level }}<br></h4>

		</div>
	</div>
	<div class="StudentInfoContainer">
		<div class="LabelContainer">
			<h4>Course:</h4>

		</div>

		<div class="DataContainer">
			<h4>{{ student.course }}<br></h4>

		</div>
	</div>
	<div class="StudentInfoContainer">
		<div class="LabelContainer">
			<h4>Email:</h4>
			
		</div>

		<div class="DataContainer">
			<h4>{{ student.user.email }}<br></h4>

		</div>
	</div>
	<div class="StudentInfoContainer">
		<div class="LabelContainer">
			<h4>Cellphone Number:</h4>

		</div>

		<div class="DataContainer">
			<h4>{{ student.cellphone_number }}<br></h4>

		</div>
	</div>
	<div class="StudentInfoContainer">
		<div class="LabelContainer">
			<h4>Loan Amount:</h4>
		</div>

		<div class="DataContainer">
			<h4>{{ loan.amount }}<br></h4>
		</div>
	</div>
	<div class="StudentInfoContainer">
		<div class="LabelContainer">
			<h4>Loan Status:</h4>
		</div>

		<div class="DataContainer">
			<h4>{{ loan.status }}<br></h4>
		</div>
	</div>
    </div>
	<br>
	<div class="Appcontainer">

		{% if loan.status == 'In Process' %}
			<input type="button" class="btnApp" value="Approve loan" onclick="location.href = '{% url 'oas:approve_loan' student.id_number %}'"><br><br>
			<input type="button" class="btnApp" value="Reject loan" onclick="location.href = '{% url 'oas:reject_loan' student.id_number %}'"><br><br>
		{% endif %}

		<input type="button"  class="btnApp" value="Back" onclick="location.href = '{% url 'oas:view_applicants' %}'">

		{% block modal0 %}
		{% endblock %}
	</div>
    </div>
</div>
</body>
</html>