<!DOCTYPE html>
    {% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href={% static 'oas/oas.css' %}>
    <title>Loaners</title>
<div class="ViewContainer">
    {% if data %}

    <h1>Loaners</h1><br>
        <table>
            <tr class="tableHeader">
                <td>Name</td>
                <td>Loan Amount</td>
                <td>Date applied</td>
            </tr>
        {% for loaner, loan in data %}
            <tr>
                <td><a href="{% url 'oas:view_loaner_detail' loaner.id_number %}"style="left:0%;">{{ loaner.first_name }} {{ loaner.last_name }}</a></td>
                <td>₱ {{ loan.amount }}</td>
                <td>{{ loan.date }}</td>
            </tr>
        {% endfor %}

        </table>
		<div class="Appcontainer">
        <br>
			<input type="button" class="btnApp" value="Export loaner data to csv" onclick="location.href = '{% url 'oas:export_loaners' %}'">
		</div>
    {% else %}
        <h1>No loaners</h1>
    {% endif %}


</div>
</head>
<body>

	<div class="topContainer">
		<div class="cover">
			<span class = "title">OAS</span>
		</div>
	</div>
	<div class="TitleBar">

		<input type="button" class="btnLogOut" value="LOG OUT" onclick="location.href = '{% url 'account:logout_url' %}'">
	</div>

    <div class = "MainContainer">

    <div class="linkContainer">
        <div class="linkBox">
    <h4><a href="{% url 'oas:view_applicants' %}">View applicants</a></h4>
     
        </div>

        	<div class="linkBox">
    <h4><a href="{% url 'oas:view_loaners' %}">View loaners</a></h4>
                
            </div>
        	<div class="linkBox">
    <h4><a href="{% url 'oas:all_payments' %}">View payments</a></h4>
                
            </div>

        	<div class="linkBox">
    <h4><a href="{% url 'oas:view_summary' %}">View term summary</a></h4>
                
            </div>
        	<div class="linkBoxbottom">
    <h4><a href="{% url 'oas:view_info' %}">Edit term information</a></h4>
            
            </div>
	</div>
	<div class="schedContainer">
		<div class="box">
			<b> Schedule </b>
		</div>
		<div class="schedContainer2">
                <br>
                Start of Application
				<h4> {{ curr_info.application_start }} </h4>

                End of Application
				<h4> {{ curr_info.application_end }} </h4>

                Release of Results
				<h4> {{ curr_info.release_of_results }} </h4>

                Deadline of Payment
				<h4> {{ curr_info.deadline_of_payment }} </h4>
		</div>
	</div>



    </div>

</body>
</html>